{% extends 'listin/base.html' %} 


{% block content %}
<h2>New post</h2>
<form method="POST" action="{%url 'listin:new_post' %}">
    {%csrf_token%} 
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
    <p>Title {{ form.title }}  </p><br>
    <p>Book {{ form.book }} <a href="{% url 'listin:new_book' %}"  target="_blank">+ book</a> </p><br>
    <p>Content {{form.content}}</p> <br>
    <p>{{form.invisible}} Invisible</p>
    <p><input type="submit" value="Publish"  class="save btn btn-success"></p>
</form>
{%endblock%}